.div-invalid-route {
  width: 100%;
  border: 6px ridge #f28242;
  height: 95vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.h2-not-found {
  color: #f28242;
}

.h2-invalid-route {
  font-style: italic;
}
