/* .div-map-image {
  border: 4px solid purple;
  width: 100%;
  text-align: left;
} */

.img-map {
  width: 100%;
  /* margin: 0 1.5%; */
  border: 6px ridge #edd351;
}

.section-card-display {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 6px ridge #f28242;
  overflow: scroll;
  max-height: 77vh;
}
