/* .div-map-image {
  border: 4px solid purple;
  width: 100%;
  text-align: left;
} */

.img-map {
  width: 100%;
  /* margin: 0 1.5%; */
  border: 6px ridge #edd351;
}

.section-card-display {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 6px ridge #f28242;
  overflow: scroll;
  max-height: 77vh;
}

.div-error {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-icon {
  width: 6%;
  margin: 1%;
}

.error-message {
  width: 59%;
  font-size: 1em;
  color: #e10000;
  margin: 1%;
}
.div-loader {
  width: 100%;
  padding: 1%;
}

.div-giphy {
  width:13%;
  margin: 1% 43.5%;
}

.giphy-embed {
  width: 100%;
}
