.div-radio {
  width: 60%;
  margin: auto;
  text-align: left;
}

.label-radio {
  display: block;
  line-height: 1.7;
}

.button-radio {
  margin: 0 15px 15px 15px;
  cursor: pointer;
}

.input-name {
  font-size: 1em;
  margin: 4%;
  border-radius: 3px;
  padding-left: 5px;
}

input[type='radio'] { transform: scale(1.5); }

.welcome {
  font-size: 2em;
  margin: 5% 0 2% 0;
  color: #f28242;
}

.why-here {
  font-size: 1.3em;
  color: #f28242;
}

.div-welcome-page-buttons {
  width: 29%;
  margin: 2% auto;
  display: flex;
  justify-content: space-around;
}
