.section-radio {
  width: 45%;
  text-align: left;
}

.label-radio {
  display: block;
  margin-left: 6%;
  margin-top: 3%;
}

.button-radio {
  margin: 22px 0px 4px 0px;
  cursor: pointer;
}

.input-name {
  font-size: 1em;
  margin: 3%;
  border-radius: 3px;
  padding-left: 5px;
}

input[type='radio'] {
  transform: scale(.7);
  float: left;
}

.welcome {
  font-size: 2em;
  margin: 5% 0 2% 0;
  color: #f28242;
}

.section-instructions{
  width: 45%;
  text-align: left;
}

.title-welcome-info {
  font-size: 1.3em;
  color: #f28242;
}

.p-fine-question {
  margin: 21% 0 5% 0;
  color: #f28242;
  font-size: .7em;

}

.p-fine-print {
  font-size: .7em;
  font-style: italic;
  /* color: whitesmoke; */
}

.div-welcome-page-buttons {
  width: 26%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.div-welcome-info {
  display: flex;
  padding: 3%;
  justify-content: space-between;
}

.list-instructions {
  list-style-type: square;
}

li {
  margin-top: 3%;
}
