.country-card {
  border: 1px solid pink;
  text-align: center;
  padding: 5px;
  width: 30%;
}

.country-name {
  font-size: 1em;
  font-weight: bold;
}

.country-capital {
  font-size: .9em;
  font-weight: bold;
}

.country-region {
  font-size: .7em;
  font-style: italic;
  color: lightgrey;
}

.empty-checkbox {
  width: 25px;
  /* display:none; */
}
